@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --foreground: #1e2d2f;
  --background: #f5e6e8;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f5e6e8;
    --background: #1e2d2f;
  }
} */

html {
  overflow: hidden;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer base {
  .link-list {
    background-color: black;
  }

  .vertical-scroll-container {
    width: 100%;
    /* transition: top 0.3s ease; */
    max-height: 100px;
    overflow-y: hidden;
  }

  .scroll-content {
    position: absolute;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .scroll-content .focus {
    background-color: red;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
