@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ChicagoFont";
  src: url("https://dangasson.github.io/Resources/Fonts/ChicagoFLF.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground: #1e2d2f;
  --background: #f5e6e8;

  --light-background: #ffffff;
  --dark-background: #e3e4e5;
  --light-screen-background: #d6d5d0;
  --dark-screen-background: #a5a59b;
  --screen-light: #c1c1ba;
  --screen-dark: #484647;
  --icon-light-grey: #babdc1;
  --light-grey: #f2f2f2;
  --mid-grey: #999999;
  --dark-grey: #595959;
  --very-dark-grey: #4d4d4d;
}

html {
  overflow: hidden;
}

body {
  @apply font-primary;
  background-color: var(--background);
  color: var(--foreground);
  cursor: pointer;
  background: linear-gradient(
    45deg,
    var(--dark-background),
    var(--light-background)
  );
}

@layer base {
  .link-list {
    background-color: black;
  }

  .vertical-scroll-container {
    width: 100%;
    /* transition: top 0.3s ease; */
    max-height: 100px;
    overflow-y: hidden;
  }

  .scroll-content {
    position: absolute;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .scroll-content .focus {
    background-color: red;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen {
  position: relative;
  overflow: hidden;
  margin: 30px auto 0px auto;
  width: 284px;
  height: 230px;
  background: linear-gradient(
    135deg,
    var(--dark-screen-background),
    var(--light-screen-background)
  );
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 2px var(--very-dark-grey);
  font-family: "ChicagoFont", "Arial";
  font-size: 130%;
  color: var(--screen-dark);
}

.menu-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: 5%;
  height: 81%;
}
.option {
  padding-left: 12px;
}
.option:after {
  content: "";
  position: absolute;
  right: 18px;
  border-bottom: 4px solid var(--screen-dark);
  border-right: 4px solid var(--screen-dark);
  width: 12px;
  height: 12px;
  transform: rotate(-45deg) skew(7deg, 7deg);
  transform-origin: 180%;
}
.option.selected {
  background-color: var(--screen-dark);
  border-bottom: 2px solid var(--screen-dark);
  color: var(--screen-light);
}
.option.selected:after {
  border-bottom: 4px solid var(--screen-light);
  border-right: 4px solid var(--screen-light);
}
